/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
  text-align: center;
}

.parent {
  display: grid;
  grid-gap: .6em;
  grid-template-columns: 9em 9em 9em;
  grid-template-rows: 9em 9em 9em;

  position: absolute;
}

.parent > .knoppen {
  padding: 1em;
  background-color:yellow;
  border-radius: 1em;

  display: grid;
  place-items: center;
}

.parent > .scherm {
  background-color: darkslategray;
  text-transform: uppercase;
  color: aliceblue;

  display: grid;
  place-items: center;
}

.parent .comms {
  background-color: red;
  color: aliceblue;

  display: grid;
  place-items: center;
}

.parent .attack {
  background-color: gray;
  color: aliceblue;

  display: grid;
  place-items: center;
}

.parent .navigatie {
  background-color: dodgerblue;
  color: aliceblue;

  display: grid;
  place-items: center;
}

.parent .kaart {
  background-color: darkgray;
  color: aliceblue;

  display: grid;
  place-items: center;
}
/* ... */


