/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}

button {
  cursor:pointer;
  outline: none;
  /* animation: lightsaber 1s ease delay infinite; */
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  --drieD-schaduw: inset -.1em -.1em 1em black, inset .1em .1em .1em white;
  --kleineDrieDschaduw: inset .1em .1em .1em white, inset -.1em -.1em 1em black;
  --tabletgrijs: #999998;
  --grijsvlak: #575756;
  --systeemkleur: #333;
  --radarkleur: #318947;
  --wit: #fff; 
  --bgscherm:#3C3C3B;
  --attackbg: #AEAEAE; 
  --radialrood: radial-gradient(circle, rgba(255,122,122,1) 20%, rgba(206,34,38,1) 71%);
  --radialblauw: radial-gradient(circle, rgba(179,192,255,1) 20%, rgba(125,146,252,1) 71%);
  --radialgroen: radial-gradient(circle, rgba(174,226,217,1) 20%, rgba(68,198,175,1) 71%);
  --radialgeel: radial-gradient(circle, rgba(254,255,132,1) 20%, rgba(255,240,39,1) 71%);
  --navbg: #838383;
  --radialgrijs: radial-gradient(circle, rgba(68,68,68,1) 10%, rgba(33,33,33,1) 71%);
  --textkleur: #2BA827; 
  --speaker: linear-gradient(180deg, rgba(24,24,31,1) 8%, rgba(33,33,37,1) 8%, rgba(91,91,92,1) 15%, rgba(34,34,34,1) 15%, rgba(51,51,51,1) 21%, rgba(52,52,52,1) 21%, rgba(62,62,62,1) 30%, rgba(15,11,11,1) 30%, rgba(25,21,21,1) 37%, rgba(5,4,4,1) 37%, rgba(82,82,82,1) 46%, rgba(99,99,99,1) 46%, rgba(83,83,83,1) 56%, rgba(22,22,22,1) 56%, rgba(13,12,12,1) 64%, rgba(113,113,113,1) 64%, rgba(38,37,37,1) 71%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 78%, rgba(84,84,84,1) 78%, rgba(115,115,115,1) 86%, rgba(19,19,19,1) 86%, rgba(33,33,33,1) 94%, rgba(66,66,66,1) 94%);
  --glowRed: 0px 0px 50px 10px rgba(206,34,37,0.69); 
  --glowYellow: 0px 0px 50px 10px rgba(254,255,132,1);
  --glowBlauw: 0px 0px 50px 10px  rgba(179,192,255,1);
  --glowGroen:  0px 0px 50px 10px  rgba(174,226,217,1);
  --rood: #CE2226;
  --BrightGreen: #1fcf19;
  --BrightRood: radial-gradient(circle, rgba(255,0,0,1) 20%, rgba(255,101,101,1) 71%);
} 


@media (prefers-color-scheme: dark) { 
  :root {
  --bgscherm: #E0E0E0;
  --grijsvlak: #CCCCCC;
  --attackbg: #D8D8D8;
  --navbg: #FCFCFC; 
  }
}

/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
  text-align: center;
}

ul.parent {
  /* ruimte verdelen over de kinderen */
  display: grid;
  grid-template-columns: 6fr 12fr 6fr;
  grid-template-rows: 6fr 4fr;

  /* hele scherm vullen */
  position:fixed;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;

  margin: 0;
  padding: 0;
  list-style: none;
}
/* STYLING BUTTON */
li .parent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  appearance: none;
  background: none;
  border: none;
  font-size: 1em; 
}
/* LINKSBOVEN KOLOM */
.parent > .knoppen {
  padding: 1em;
  background-color: var(--grijsvlak);


  display: grid;
  place-items: center;
}
/* LINKER RECHTHOEK */
.rechthoek {
  position: absolute;
  background-color: var(--tabletgrijs);

  width: 20%;
  height: 49%;

  border-style: ridge;
  border-width: thin;
  border-radius: 10%;
  box-shadow: var(--kleineDrieDschaduw)
   
}
/* LINKSBOVEN ROODLAMPJE */
.alarm {
  position: absolute;
  top: 14%;
  bottom: 13%;
  left: 5%;
  
  background-image: var(--radialrood);
  
  width: 4em;
  height: 4em;
  
  border-style:solid;
  border-radius: 100%;
  border-color: var(--bgscherm);
  border-width: .2em;

  transform: translate(10%,-70%);

  box-shadow: var(--drieD-schaduw);

  animation: brightRed 1.5s ease-in-out infinite;
}
/* LINKSBOVEN ROODLAMPJE 2 */
.alarm2 {
  position: absolute;
  top: 25.5%;
  bottom: 50%;
  right: 90%;

  background-image: var(--radialrood);

  width: 4em;
  height: 4em;
  
  border-style:solid;
  border-radius: 100%;
  border-color: var(--bgscherm);
  border-width: .2em;

  transform: translate(100%,-245%);

  box-shadow: var(--drieD-schaduw);

  animation: brightRed 1.5s ease-in-out infinite;
}

/* FLASHY ROOD ANIMATIE */
@keyframes brightRed {
  0% {
    background-image: var(--radialrood);
  }
  100% {
    background-image: var(--BrightRood);
  }
}

.speaker {
  position: absolute;
  bottom: 50%;
  width: 18em;
  height: 9em;
  background-image: var(--speaker)
}

/* MIDDELSTE KOLOM */
.parent > .scherm {
  position: relative;
  background-color: var(--bgscherm);

  display: grid;
  place-items: center;

}
/* TABLET IN SCHERM */
.scherm > .tablet {
  position: absolute;
  background-color: var(--tabletgrijs);
  
  padding:5%;

  margin-top: 1em;
  margin-bottom: 1em;

  width: 85%;
  height: 80%;

  border-radius: 10%;
  box-shadow: var(--kleineDrieDschaduw);
}


/* TABLET SCHERMPJE */
.tablet2 {
  background-color: var(--grijsvlak);
  width: 100%;
  height: 100%;
  border-radius: 10%;

  box-shadow: var(--drieD-schaduw);

  display:grid;
  justify-items:center;
  align-items: center;
}

.showVideo {
  opacity: 100%;
}

/* VIDEO STYLING */
#video {
  position: absolute;
  width: 88%;
  height: 100%;
  z-index: 1;
  display: none;
}

#video.playing {
  display:block;
}

/* HELM STYLING */
.deHelm {
  width:20%;
  }  

@keyframes zichtbaar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }

}
/* RECHTSBOVEN KOLOM */
.parent .comms {
  background-color: var(--grijsvlak);

  display: grid;
  place-items: center;
}
/* RECHTER KOLOM PANEL */
.parent .panel-right {
    width: 25em;
    height: 28em;

    margin-left: 2.5em;
    margin: 2em;

    border: ridge;
    border-width: thin;
    box-sizing: content-box;
    padding-top: 15px;
    position: relative;
    background: var(--systeemkleur);
    rotate: 0deg;

    position: relative;

    box-shadow: var(--kleineDrieDschaduw)
  }
  
/* DE H2 van de RIGHT PANEL */
  .panel-right > h2 {
    position: absolute;
    
    margin: 1em;

    border-right: var(--radarkleur);
   
    color: var(--BrightGreen);

    font-family: monospace;

  }
/* DE TEXT */
  .panel-right > p {
    position: absolute;
    bottom: 8%;
    padding: 10px;
    margin: 10px;
    color: var(--BrightGreen);
    line-height: 1.5;
    font-size: 12px;

    font-family: monospace;

    animation: typer 15s;
  }

  /* RECHTER WITTE STREEPJE */
  .panel-right:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 85%;
    width: 4em;
    height: 4em;
    border-bottom: 13px solid var(--wit);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    rotate: 90deg;

  }

/* LINKSONDER KOLOM */
.parent .attack {
  position: relative;
  background-color: var(--attackbg);
  /* color: aliceblue; */

  display: grid;
  grid-template-columns: 9em 9em;
  gap:10%;
  place-content: center;
}

/* LINKS ONDER KNOPPEN */
.parent .attack button {
  aspect-ratio: 1/1;
  box-shadow: var(--drieD-schaduw);
}

.parent .attack button img {
  width:60%;
  opacity: 30%;
}

.parent .attack button img:hover {
  opacity: 80%;
  transform: rotate(360deg);
}

.parent .attack button:focus {

}

.parent .attack button:focus img {
  
}

@keyframes lightsaber {
  0% {
    filter: drop-shadow(0 0 0 .75rem blue);
  }
  100% {
    filter: drop-shadow(0 0 0 blue);
  }
}

/* VIERKANTEN KNOPPEN  */
.vierkant {
  background-image: var(--radialrood);
}

.parent .attack .vierkant:hover {
 box-shadow: var(--glowRed);
}

.vierkant2 {
  background-image: var(--radialblauw);
}

.parent .attack .vierkant2:hover {
  box-shadow: var(--glowBlauw);
 }

.vierkant3 {
  background-image: var(--radialgroen);
}

.parent .attack .vierkant3:hover {
  box-shadow: var(--glowGroen);
 }

.vierkant4 {
  background-image: var(--radialgeel);
}

.parent .attack .vierkant4:hover {
  box-shadow: var(--glowYellow);
 }



/* ONDERSTE KOLOM */
.parent .navigatie {
  position: relative;
  background-color: var(--navbg);

  display: grid;
  place-items: center;
}

/* DESKTOP */
.ImageDesktop {
  position: absolute;
  width: 85%;
  height: 75%;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}

/* SLIDER BOX is de BOX van de SLIDERS */
.slider-box {
  background-color: #3C3C3B;
  position: absolute;
  width: 25%;
  height: 60%;
  left:22.5%;
  top:50%;
  transform: translate(-50%,-50%);

  box-shadow: var(--drieD-schaduw)
  
}

/* GRIJS BALK van de SLIDERS */
.Slider-1 {
  position: absolute;
  left: 12%;
  background-color: var(--grijsvlak);
  width: 2.5em;
  height: 13em;
}

.Slider-2 {
  position: absolute;
  left: 21%;
  background-color: var(--grijsvlak);
  width: 2.5em;
  height: 13em;
}

.Slider-3 {
  position: absolute;
  left: 29%;
  background-color: var(--grijsvlak);
  width: 2.5em;
  height: 13em;
}

.slider-box2 {
  background-color: var(--bgscherm);
  position: absolute;
  width: 20%;
  height: 60%;
  right:22%;
  top:50%;
  transform: translate(60%,-50%);

  box-shadow: var(--drieD-schaduw)
}

.Slider-4 {
  position: absolute;
  right: 11.5%;
  background-color: var(--grijsvlak);
  width: 2.5em;
  height: 13em;
}

.Slider-5 {
  position: absolute;
  right: 18%;
  background-color: var(--grijsvlak);
  width: 2.5em;
  height: 13em;
}

.Slider-6 {
  position: absolute;
  right: 24.5%;
  background-color: var(--grijsvlak);
  width: 2.5em;
  height: 13em;
}

/* VOOR JAVASCRIPT SLIDERS */
 .slideSlider {
  transform: translateY(80px);
 }

 .slideSlider2 {
  transform: translateY(152px);
 }

 .box-slider-3.slideSlider3 {
  transform: translateY(-150px);
 }

  .slideSlider4 {
  transform: translateY(-150px);
 }

 .slideSlider4 {
  transform: translateY(-150px);
 }

 .slideSlider5 {
  transform: translateY(-150px);
 }

 .slideSlider6 {
  transform: translateY(-150px);
 }

/* BOX-SLIDER is de BOX van de SLIDERS */
.box-slider-1 {
  appearance: none;
  background: none;
  border: none;
  font-size: 1em; 

  position: absolute;
  left: 11.5%;
  background-image: var(--radialrood);
  width: 3em;
  height: 4em;

  transition: 1s; 
}

.box-slider-2 {
  appearance: none;
  background: none;
  border: none;
  font-size: 1em; 

  position: absolute;
  left: 20.5%;
  top: 23%;
  background-image: var(--radialrood);
  width: 3em;
  height: 4em;

  transition: 1s;
  }

.box-slider-3 {
  appearance: none;
  background: none;
  border: none;
  font-size: 1em; 

  position: absolute;
  left: 28.5%;
  bottom: 21.5%;
  background-image: var(--radialrood);
  width: 3em;
  height: 4em;

  transition: 1s;
}

.box-slider-4 {
  appearance: none;
  background: none;
  border: none;
  font-size: 1em; 

  position: absolute;
  right: 11%;
  bottom: 21%;
  background-image: var(--radialgeel);
  width: 3em;
  height: 4em;

  transition: 1s;
 }

 .box-slider-5 {
  appearance: none;
  background: none;
  border: none;
  font-size: 1em; 

  position: absolute;
  right: 17.5%;
  bottom: 21%;
  background-image: var(--radialblauw);
  width: 3em;
  height: 4em;

  transition: 1s;
 }
 .box-slider-6 {
  appearance: none;
  background: none;
  border: none;
  font-size: 1em; 

  position: absolute;
  right: 24%;
  bottom: 21%;
  background-image: var(--radialgroen);
  width: 3em;
  height: 4em;

  transition: 1s;
 }

 /* GROTE RODE KNOP VOOR LEUKE PAASEI */
.Red-button {
  position: absolute;
  top: 50%;
  bottom: 50%;
  
  background-image: var(--radialrood);
  
  width: 11.5em;
  height: 11.5em;
  
  border-radius: 100%;
  border-style:inset;
  border-color: var(--navbg);
  border-width: 1em;

  transform: translate(10%,-70%);

  box-shadow: var(--drieD-schaduw);
}

.Red-button:hover {
  filter:drop-shadow(0 0 0.75rem var(--rood));
}

/* RECHTSONDER KOLOM */
.parent .kaart {
  position: relative;
  background-color: var(--attackbg);

  display: grid;
  place-items: center;
}
/* BOX van de RADER */
.radar {
  position: absolute;
  top: 10%;
  background-color: var(--bgscherm);
  border-radius: 10%;
  background-image: var(--radialgrijs);
  width: 20em;
  height: 20em;

  box-shadow: var(--drieD-schaduw);
}

/* OUTER LINE van RADER */
.radar-kaart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 19em;
  height: 19em;
  border: var(--radarkleur);
  border-style: solid;
  border-width: .4em;
}

/*  TWEEDE LIJN van RADER */
.radar-inhoud {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 100%;
  width: 15em;
  height: 15em;
  border: var(--radarkleur);
  border-style: solid;
  border-width: .2em;
}
/*  DERDE LIJN van RADER */
.radar-inhoud2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 100%;
  width: 12em;
  height: 12em;
  border: var(--radarkleur);
  border-style: solid;
  border-width: .2em;
}
/*  VIERDE LIJN van RADER */
.radar-inhoud3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 100%;
  width: 9em;
  height: 9em;
  border: var(--radarkleur);
  border-style: solid;
  border-width: .2em;
}
/*  VIJFDE LIJN van RADER */
.radar-inhoud4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 100%;
  width: 6em;
  height: 6em;
  border: var(--radarkleur);
  border-style: solid;
  border-width: .2em;
}
/* RODNJE in het MIDDEN */
.radar-inhoud5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: var(--radarkleur);
  border-radius: 100%;
  background-image: var(--radialblauw);
  width: 3em;
  height: 3em;
}

.enemy1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: var(--radialrood);
  border-radius: 100%;
  width: 1em;
  height: 1em;

  animation: circle 10s linear infinite, brightRed 3s ease infinite, Verdwijn 1s infinite;
}
/* CIRKEL ANIMATIE */
@keyframes circle {
from{
    transform: rotate(0deg)translate(-360%);
}
to{
    transform:rotate(360deg)translate(-360%);
}
}
/* VERDWIJN ANIMATIE */
@keyframes Verdwijn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.enemy2 {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-image: var(--radialrood);
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;

  animation: circle 10s linear infinite, brightRed 3s ease infinite, Verdwijn 1s infinite;
}






/* ... */



